<html lang="en">
<head>
  <h2>Drone Info</h2>
</head>
<body>
<form action="saveDrone" method="post">
  <table>
    <tr>
      <td><label for="droneId">DroneId</label></td>
      <td><input type="text" name="droneId"/></td>
    </tr>
    <tr>
      <td><label for="temperature">Temperature</label></td>
      <td><input type="number" name="temperature" min="-25" max="40"/></td>
    </tr>
    <tr>
      <td><label for="latitude">Latitude</label></td>
      <td><input type="number" name="latitude" step=".0000001" max="90" min="-90"/></td>
    </tr>
    <tr>
      <td><label for="longitude">Longitude</label></td>
      <td><input type="number" name="longitude" step=".0000001" max="180" min="-180"/></td>
    </tr>
    <tr>
      <td><label for="humidity">Humidity</label></td>
      <td><input type="number" name="humidity" min="0" max="100" /></td>
    </tr>
    <tr>
      <td><label for="tracker">Enable Drone Tracker: </label></td>
      <td><input type="checkbox" name="tracker"/></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Submit"></input></td>
    </tr>
  </table>
</form>
</body>
</html>